header img {
  height: 80px;
  margin-left: 80px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 1000px;
}

body {
  height: 125vh;
  background-image: url('https://images5.alphacoders.com/375/375194.jpg');
  background-size: cover;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
}
main {
  color: white;
}
header {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
  border-bottom-right-radius: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
  z-index:10 ;
}
nav{
  background: linear-gradient(to right, rgb(243, 243, 238), rgb(60, 2, 247), rgb(2, 243, 247));
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 1000px;
}
footer{
    height: 157px;
    margin-left: 100px;
    background: linear-gradient(to right, rgb(243, 243, 238), rgb(60, 2, 247), rgb(2, 243, 247));
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 1000px;

}
#shareicons img {
  width: 50px;
  padding: 10px;
  display: inline;
  margin-left: auto;
}
